*.o
*.coff
*.txt
nachos
nachos-3.4/code/bin/coff2flat
nachos-3.4/code/bin/coff2noff
nachos-3.4/code/bin/dissassemble
nachos-3.4/code/bin/out
nachos-3.4/code//test/cat
nachos-3.4/code/test/copy
nachos-3.4/code/test/createfile
nachos-3.4/code/test/delete
nachos-3.4/code/test/halt
nachos-3.4/code/test/matmult
nachos-3.4/code/test/sort
