*.o
*.coff
*.txt
nachos
Source/nachos-3.4/code/bin/coff2flat
Source/nachos-3.4/code/bin/coff2noff
Source/nachos-3.4/code/bin/dissassemble
Source/nachos-3.4/code/bin/out
Source/nachos-3.4/code/test/echo
Source/nachos-3.4/code/test/cat
Source/nachos-3.4/code/test/copy
Source/nachos-3.4/code/test/createfile
Source/nachos-3.4/code/test/delete
Source/nachos-3.4/code/test/halt
Source/nachos-3.4/code/test/matmult
Source/nachos-3.4/code/test/sort
Source/nachos-3.4/code/test/ping
Source/nachos-3.4/code/test/pong
Source/nachos-3.4/code/test/scheduler
